html
  head
    title
      | Directories
    link(rel="stylesheet" href="/servfiles/dirstyle.css")
  body
    div.center
      each val in files
        if val != 'serv.js' && val != 'yarn-error.log' && val != 'yarn.lock' && val != 'package-lock.json' && val != 'package.json' && val != '.gitignore' && val != 'cheatsheetJS.xlsx' && val != 'node_modules' && val != '.git'
          p
            a(href=val)= val
